**/__pycache__
**/venv/
**/.env
**/Dockerfile**
**/.dockerignore
**/.pytest_cache
**/data
**/.git
**/.gitignore
**/.DS_Store
**/.vscode/
**/*.pyc
**/*.pyo
**/*.pyd
**/*.coveragerc
**/htmlcov/
**/.ruff*
**/.cursor
**/.claude
**/src/pyproject.toml
**/src/coverage.xml
**/src/report.xml
**/tmp
**/docs
