PROD=false
API_INT_PORT=8000
API_EXT_PORT=8000
SERVER_HOST=0.0.0.0
CALC_GRPC_PORT=50051
CALC_GRPC_EXT_PORT=50051

DB_PORT=5432
DB_EXT_PORT=8001
DB_HOSTNAME=db
DB_NAME=trade_service
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_DATA=./data/db_data
